@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

:root {
  /* Colors: */
  --main-color: #d9b868;
  --secondry-color: #ffcc00;
  --rate: #ffbb00;
  --shape: #1c608d;
  --muted-text: #575757;
  --dark: #2d2d2d;
  --light: #dbdbdb;
  --body: #f2f2f2;
  --gutter: 6rem
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

* {
  font-family: "Almarai", sans-serif ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

[type=email], [type=number], [type=tel], [type=url] {
  direction: rtl ;
}
p {
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

/* ------------- global --------------- */

body {
  direction: rtl;
  line-height: 1.7;
  background: var(--body);
  overflow-x: hidden;
}
html[dir="ltr"] body {
  direction: ltr;
}

.container-fluid {
  --bs-gutter-x: var(--gutter) !important;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  padding-inline-end: 0rem !important;
  list-style: none;
}

.main-color {
  color: var(--main-color) !important;
}
.secondry-color {
  color: var(--secondry-color);
}
.bg-main-color {
  background-color: #c5b386;
  color: #fff !important;
}
.bg-white {
  background-color: #fff;
  color: var(--main-color) !important;
}
.bg-secondry-color {
  background-color: var(--secondry-color);
  color: #fff !important;
}
::selection {
  color: #fff;
  background-color: #b59d64;
}

p + .form-control {
  margin-top: 0.75rem;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.custom-btn {
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #000 50%, var(--main-color) 50%);
  background-size: 210% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
  padding: 0.35rem 2.5rem;
  border-radius:30px 0px 30px 30px;
  margin-top: 1rem;
  -webkit-border-radius:30px 0px 30px 30px;
  -moz-border-radius:30px 0px 30px 30px;
  -ms-border-radius:30px 0px 30px 30px;
  -o-border-radius:30px 0px 30px 30px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
html[dir="ltr"] .custom-btn{
  border-radius: 0px 30px 30px 30px;
  -webkit-border-radius: 0px 30px 30px 30px;
  -moz-border-radius: 0px 30px 30px 30px;
  -ms-border-radius: 0px 30px 30px 30px;
  -o-border-radius: 0px 30px 30px 30px;
}

.custom-btn:hover {
  background-position: right bottom;
}

.custom-btn .text {
  text-align: center;
  color: #fff !important;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.custom-btn .text span {
  padding: 0 10px;
}
.cut-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.float-icon {
  position: absolute;
  inset-inline-end: 50%;
  z-index: 11;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  background: var(--main-color);
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
  font-size: 14px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.float-icon img {
  width: 12px;
}
.float-icon:before {
  content: "";
  position: absolute;
  border: 5px solid #d9b86888;
  inset: -5px;
  box-shadow: 0 0 0 5px #d9b86855;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.float-icon:hover:before{
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  -webkit-animation: ripple-out 1s infinite;
  animation: ripple-out 1s infinite;
}

/* Ripple Out */
@keyframes ripple-out {
  100% {
    inset: -10px;
    opacity: 0;
  }
}

@-webkit-keyframes ripple-out {
  100% {
    inset: -10px;
    opacity: 0;
  }
}

.link {
  position: absolute;
  inset: 0;
}

.nav-tabs {
  border: none;
  margin-top: 1.5rem;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 3;
}

.close:hover,
.close:focus {
  box-shadow: inset -250px 0 0 0 var(--hover), inset 250px 0 0 0 var(--hover);
  color: #fff;
}
.up:hover,
.up:focus {
  box-shadow: inset 0 -300px 0 0 var(--hover);
}
.close {
  --color: #ff7f82;
  --hover: #ddc68b;
}
.up {
  color: var(--main-color);
  --hover: #ffdd7f86;
}

.offcanvas-top{
  background: url('../images/c_map.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content !important;
}
.offcanvas-top .getNews .title::after {
  top: calc(50% - 5px);
}

/* loader */
#loading {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0b0b0b;
}
.loading {
  position: absolute;
  top: 50%;
  inset-inline-end: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
html[dir="ltr"] .loading{
  transform: translateX(50%) translateY(-50%);
  -webkit-transform: translateX(50%) translateY(-50%);
  -moz-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  -o-transform: translateX(50%) translateY(-50%);
}

.loader {
  margin: auto;
  width: 175px;
  height: 100px;
}

.loader span {
  display: block;
  background: #a9824b;
  width: 7px;
  height: 10%;
  margin-inline-start: 5px;
  float: left;
  margin-top: 25%;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.loader span:last-child {
  margin-inline-start: 0px;
}

.loader span:nth-child(1) {
  animation: load 2.5s 1.4s infinite linear;
}

.loader span:nth-child(2) {
  animation: load 2.5s 1.2s infinite linear;
}

.loader span:nth-child(3) {
  animation: load 2.5s 1s infinite linear;
}

.loader span:nth-child(4) {
  animation: load 2.5s 0.8s infinite linear;
}

.loader span:nth-child(5) {
  animation: load 2.5s 0.6s infinite linear;
}

.loader span:nth-child(6) {
  animation: load 2.5s 0.4s infinite linear;
}

.loader span:nth-child(7) {
  animation: load 2.5s 0.2s infinite linear;
}

.loader span:nth-child(8) {
  animation: load 2.5s 0s infinite linear;
}

.loader span:nth-child(9) {
  animation: load 2.5s 0.2s infinite linear;
}

.loader span:nth-child(10) {
  animation: load 2.5s 0.4s infinite linear;
}

.loader span:nth-child(11) {
  animation: load 2.5s 0.6s infinite linear;
}

.loader span:nth-child(12) {
  animation: load 2.5s 0.8s infinite linear;
}

.loader span:nth-child(13) {
  animation: load 2.5s 1s infinite linear;
}

.loader span:nth-child(14) {
  animation: load 2.5s 1.2s infinite linear;
}

.loader span:nth-child(15) {
  animation: load 2.5s 1.4s infinite linear;
}

@keyframes load {
  0% {
      background: #a9824b;
      margin-top: 25%;
      height: 10%;
  }

  50% {
      background: #e3921e;
      height: 100%;
      margin-top: 0%;
  }

  100% {
      background: #a9824b;
      height: 10%;
      margin-top: 25%;
  }
}
.overlay *{
  height: 100%;
}
.grid-col{
  display: grid;
  grid-template-columns: repeat(9, auto);
  justify-content: space-between;
}
.grid-col *{
  width: 2px;
  background: linear-gradient(to bottom, #49494940 0% ,transparent )
  /* background: transparent linear-gradient(to bottom, #4949492c 100% ,transparent 0% ) ; */
}
.title {
  position: relative;
  z-index: 2;
  width: max-content;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 1rem;
}
.title::after {
  content: '';
  position: absolute;
  inset-inline-start: 0%;
  top: calc(50% - 8px);
  background-image: url("../images/title-main.svg");
  background-size: contain;
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .7;
}

.division-ontop {
  display: block !important;
  background: transparent !important;
  position: relative;
  z-index: 9;
  margin-top: -100px;
}
.division-todown {
  display: block !important;
  background: transparent !important;
  position: relative;
  z-index: 9;
  margin-bottom: -100px;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}
/* navbar */
.navbar {
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 70% !important;
  margin: 0 auto;
}
.navbar .navbar-brand {
  font-weight: 500;
}
.navbar .navbar-brand img {
  width: 155px;
}
.navbar .nav-link {
  color: #fff !important;
  position: relative;
  font-weight: lighter;
}
.navbar .nav-link.active {
  font-weight: bold;
  color: var(--main-color) !important;
}

.navbar li > .nav-link {
  background-color: var(--ultra-lite);
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.navbar .custom-btn {
  margin-top: 0;
  background: var(--main-color) !important;
  border-radius: 0;
  margin-inline-start: 0.75rem;
  padding: 0.35rem 1.75rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.navbar .custom-btn:hover .text i {
  background: #fff;
  color: var(--main-color) !important;
}
.navbar-toggler{
  background: var(--main-color);
}

.p_breadcrumb{
  height: max-content;
}

.breadcrumb .content {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 150px;
  position: relative;
  z-index: 99;
}
.breadcrumb h6, .breadcrumb a ,.breadcrumb span {
  line-height: inherit;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff ;
}
html[dir="ltr"] .breadcrumb span {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

.nav-pills{
  gap: 20px;
  justify-content: center;
}
.nav-pills .nav-link{
  color: #fff;
}
.nav-pills .nav-link.active{
  background: transparent;
  color: var(--main-color) !important;
}
.nav-pills .nav-link h5{
  margin: 0;
}
.nav-pills .nav-link.active h5{
  font-weight: bold;
}
.nav-pills .nav-link .slider-container{
  width: 0px;
  opacity: 0;
  margin: auto;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
.nav-pills .nav-link .slider-container .slider::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
}
.nav-pills .nav-link.active .slider-container{
  width: 60px;
  opacity: 1 !important;
}

/* ----------------- home page ----------------- */

/* ------ header section ------ */
header {
  height: 98vh;
  position: relative;
  background: #000;
}
header .owl-carousel,
header .owl-carousel .owl-stage-outer ,
header .owl-carousel .owl-stage-outer .owl-stage,
header .owl-carousel .owl-stage-outer .owl-stage .owl-item,
header .owl-carousel .owl-stage-outer .owl-stage .owl-item .slide {
  height: 100%;
}
header .carousel-item {
  height: 100%;
}
header .carousel-item img {
  object-fit: cover;
}
.slide {
  position: relative;
}
header .carousel-caption {
  inset: 0;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  z-index: 9;
}
header .carousel-caption *{
  height: auto;
}
header .slide img ,.design img{
  filter: brightness(0.45);
  object-fit: cover;
}
header .carousel-caption .h-title {
  color: var(--main-color) !important;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  width: max-content;
}
header .carousel-caption .h-title::before {
  content: "";
  background: url("../images/loop-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  display: block;
  position: absolute;
  top: -8px;
  inset-inline-start: -4px;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}
html[dir="ltr"] header .carousel-caption .h-title::before {
  transform: translate(-50%, -50%) rotateY(180deg);
  -webkit-transform: translate(-50%, -50%) rotateY(180deg);
  -moz-transform: translate(-50%, -50%) rotateY(180deg);
  -ms-transform: translate(-50%, -50%) rotateY(180deg);
  -o-transform: translate(-50%, -50%) rotateY(180deg);
}
header .carousel-caption p {
  line-height: 2;
  padding: 1rem 0;
}


.silder-attach{
  top: 50%;
  inset-inline-end: calc(var(--gutter)/2 + 10px);
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 21px;
  display: flex;
  align-items: center;
  gap: 14px;
  transform: translate(-50% , -50%) rotate(270deg);
  -webkit-transform: translate(-50% , -50%) rotate(270deg);
  -moz-transform: translate(-50% , -50%) rotate(270deg);
  -ms-transform: translate(-50% , -50%) rotate(270deg);
  -o-transform: translate(-50% , -50%) rotate(270deg);
}
html[dir="ltr"] .silder-attach{
  transform: translate(50% , -50%) rotate(-270deg);
  -webkit-transform: translate(50% , -50%) rotate(-270deg);
  -moz-transform: translate(50% , -50%) rotate(-270deg);
  -ms-transform: translate(50% , -50%) rotate(-270deg);
  -o-transform: translate(50% , -50%) rotate(-270deg);
}
.silder-attach .slider-container {
  top: 4px;
}
.silder-attach .slider-counter .len{
  color: #ccc;
  font-size: 16px;
}
.silder-attach .slider-container .bar {
  top: 12px;
  background-color: rgb(255 255 255 / 40%);
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.silder-attach .slider-container .bar .fill {
  background-color: #fff ;
}
.silder-attach .slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #fff ;
  box-shadow: 0 0 0 0 #fff;
}
.silder-attach .search{
  background: transparent;
  width: auto;
  color: #fff;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
html[dir="ltr"]  .silder-attach .search{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
   
header .float-icon {
  top: 0%;
  margin-top: 5px;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
}
html[dir="ltr"] header .float-icon{
  transform: translate(50%, 50%) ;
  -webkit-transform: translate(50%, 50%) ;
  -moz-transform: translate(50%, 50%) ;
  -ms-transform: translate(50%, 50%) ;
  -o-transform: translate(50%, 50%) ;
}
html[dir="ltr"] .float-icon{
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}
/* ------ partner section ------ */
.partner{
  position: relative;
  z-index: 11;
}
.partner img {
  filter: grayscale(1);
  opacity: 0.85;
  object-fit: contain;
}
.partner .item {
  padding: 20px 15px;
}
/* ------ about section ------ */
.about p {
  color: #707070;
  font-size: 19px;
  line-height: 1.6;
}
/* ------ design section ------ */
.design{
  position: relative;
  height: 500px;
  text-align: center;
}
.design img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.design .float-icon{
  top: 0%;
  margin-top: 50px;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
}
.design .d-content{
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .1rem;
  justify-content: center;
  position: relative;
  z-index: 6;
}
.design .d-content h3{
  color: var(--main-color);
  font-weight: bold;
}
.design .d-content p{
  color: #fff;
  font-size: 18px;
}

/* ------ service section ------ */
.services .item{
  position: relative;
}
.services .item img{
  height: 400px;
  object-fit: cover;
}
.services .txt-overlay{
  opacity: 1;
  background-color: rgba(0,0,0,.75)
}
.services  .txt-overlay .text {
  text-align: start;
}
.services  .txt-overlay .text .float-icon{
  opacity: 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.services .item:hover .txt-overlay{
  background-color: rgba(0,0,0,0)
}
.services .item:hover .txt-overlay h6{
  opacity: 0;
}
.services .item:hover .float-icon{
  opacity: 1 !important;
}
.services .owl-nav i{
  font-size: 20px;
}
.services .owl-nav .owl-prev,
.services .owl-nav .owl-next{
  position: absolute;
  color: #fff !important;
  height: 100%;
  top: 0%;
  z-index: 999;
}
.services .owl-nav .owl-prev{
  inset-inline-start: 2rem;
}
.services .owl-nav .owl-next{
  inset-inline-end: 2rem;
}
.services .owl-nav .owl-prev.disabled,
.services .owl-nav .owl-next.disabled{
  opacity: .4;
}

/* ------ whatWeDo section ------ */
.whatWeDo .overlay{
  z-index: -1;
}
.whatWeDo .grid-col * {
  width: 2px;
  background: linear-gradient(#e5e3e3 0%, transparent);
}
.artBadge {
  position: relative;
  width: 80%;
  margin-inline-end: auto;
  margin-bottom: 2.5rem;
}
.artBadge::after {
  content: "";
  position: absolute;
  top: 0px;
  inset-inline-start: -20px;
  border-style: solid;
  border-width: 0 20px 18px 0;
  border-color: transparent transparent #C9AA5E transparent;
}
html[dir="ltr"] .artBadge::after{
  border-width: 0 0 18px 20px;
}
.artBadge img{
  height: 385px;
  object-fit: cover;
  filter: brightness(.75);
}
.whatWeDo .badge {
  position: absolute;
  top: 18px;
  inset-inline-start: -20px;
  padding: 15px ;
  text-align: center;
  background: var(--main-color);
  box-shadow: 0px -3px 5px #00000029;
  font-size: 12px;
  color: #000;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.float-img{
  position: absolute;
  width: 64%;
  inset-inline-end: .75rem;
  bottom: 0;
}
.float-img img{
  height: 300px;
  object-fit: cover;
}

.WeDo ul li{
  color: #707070;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 15px;
}
.WeDo ul li .l-shape{
  width: 60px;
  height: 45px;
  background: url('../images/gray.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.WeDo ul li .l-shape + *{
  width: calc(100% - 60px);
}

/* ------ ourworks section ------ */
.ourWorks{
  background: #202020;
}
.ourWorks .title::after, .services .title::after{
  opacity: .34;
}
.ourWorks.bg-transparent .nav-pills .nav-link,
.services.bg-transparent .nav-pills .nav-link{
  color: #686868;
}

.allWorks{
  position: relative;
}
.allWorks .item{
  position: relative;
}
.allWorks .item img{
  height: 330px;
  object-fit: cover;
}
.txt-overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.45);
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}
.txt-overlay .text {
  color: white;
  font-size: 16px;
  padding: 2rem;
  text-align: center;
}
.txt-overlay .text h6{
  font-weight: bold;
}
.item:hover .txt-overlay{
  opacity: 1;
}


.getNews {
  margin-top: 4rem;
}
.getNews .title{
  color: #fff !important;
}
.getNews .title::after{
  background: url('../images/title-black.svg');
  opacity: 1;
  background-size: contain;
  background-repeat: no-repeat;
  top: calc(50% - 18px);
  height: 42px;
}
.bg-color{
  background-size: cover;
  margin-top: 10rem;
  background-image: url('../images/c_map.png');
  background-repeat: no-repeat;
}
.getNews input{
  border-radius: 0px 33px 32px 33px;
  -webkit-border-radius: 0px 33px 32px 33px;
  -moz-border-radius: 0px 33px 32px 33px;
  -ms-border-radius: 0px 33px 32px 33px;
  -o-border-radius: 0px 33px 32px 33px;
}
html[dir="ltr"] .getNews input{
  border-radius: 33px 0px 33px 33px;
  -webkit-border-radius: 33px 0px 33px 33px;
  -moz-border-radius: 33px 0px 33px 33px;
  -ms-border-radius: 33px 0px 33px 33px;
  -o-border-radius: 33px 0px 33px 33px;
}
.getNews iframe{
  width: 100% !important;
  height: calc(100% + 6rem) !important;
  margin-top: -6rem;
}
/* ------ footer section ------ */
.toTop {
  position: fixed;
  bottom: 50px;
  top: unset;
  inset-inline-start: 30px;
  cursor: pointer;
  z-index: 35;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
footer {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  background: #000;
  color: #fff;
}
footer img{
  width: 185px
}
footer ul {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
footer ul li {
  position: relative;
  font-weight: 400;
  color: #fff !important;
}
footer ul li a {
  color: inherit;
}
footer li:hover a {
  color: var(--main-color);
}
footer li:hover ::before {
  background-color: var(--secondry-color);
}
footer .social {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
footer .social i {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  opacity: 0.8;
  margin: 0 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer .social div:hover i {
  background-color: var(--main-color);
  color: #000;
  opacity: 1;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.slider-container {
  position: relative;
}

.slider-container .bar {
  position: absolute;
  z-index: 1;
  inset-inline-end: 2px;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: rgba(217, 184, 104, .4);
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.slider-container .bar .fill {
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
}

.slider-container .slider {
  position: relative;
  z-index: 4;
  -webkit-appearance: none;
  width: 100%;
  height: 22px;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 0 var(--main-color);
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.copyRight{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 150'%3E%3Cpath fill='%23F2F2F2' fill-opacity='1' d='M0,96L120,85.3C240,75,480,53,720,53.3C960,53,1200,75,1320,85.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem 0;
  padding-bottom: 0.5rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.copyRight img{
  width: 110px;
}

#servModal img{
  object-fit: cover;
  height: 420px;
  filter: brightness(0.65);
}

/* terms page */
.terms li {
  padding-inline-start: 20px;
  position: relative;
  margin: 1rem 0;
  line-height: 1.9;
}
.terms li:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 20px;
  background: var(--main-color);
  inset-inline-start: 0;
  top: -4px;
  border-radius: 0px 9px 9px 9px;
  -webkit-border-radius: 0px 9px 9px 9px;
  -moz-border-radius: 0px 9px 9px 9px;
  -ms-border-radius: 0px 9px 9px 9px;
  -o-border-radius: 0px 9px 9px 9px;
  transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
html[dir="ltr"] .terms li:before{
  border-radius: 9px 0px 9px 9px;
  -webkit-border-radius: 9px 0px 9px 9px;
  -moz-border-radius: 9px 0px 9px 9px;
  -ms-border-radius: 9px 0px 9px 9px;
  -o-border-radius: 9px 0px 9px 9px;
}
/* project page */
.proj-info .proj-img::after{
  content: '';
  width: calc(50% + var(--gutter));
  height: calc(100% + 4rem);
  position: absolute;
  background: var(--main-color);
  inset-inline-start: calc(-1 * var(--gutter));
  top: -2rem;
  z-index: -1;
}
.proj-info .proj-img img{
  width: 100%;
  height: 65vh;
  object-fit: cover;
  filter: brightness(.65);
  position: relative;
}
.proj-details{
  background: #FFFFFF;
  box-shadow: 0px 8px 10px #7E7E7E29;
  padding: 2rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.info_con {
  width: 90%;
  margin: auto;
  margin-top: -58px;
  position: relative;
}
.info_con .info{
  background: #FFFFFF;
  box-shadow: 0px 8px 10px #7E7E7E29;
  padding: 2rem 1.5rem;
  margin: 0 .5rem;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.info_con .info h5{
  padding-bottom: 1.1rem;
  margin: 0;
  border-bottom: 1px solid #D9B868;
}
.info_con .info p{
  padding-top: 1.2rem;
  color: #555555;
}

/* blog page */
.blogs p{
  color: #555555;
}
.blogs .card{
  background: transparent;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.blogs .card .card-img-top,
.blogs .card .card-body img{
  height: 400px;
  object-fit: cover;
}
.blogs .card .card-body img{
  margin: 1rem 0;
}
.blogs .card .card-body{
  margin: 2rem 0;
  padding: 0;
  background: transparent;
}
.blog-info{
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 1rem 0;
  color: #AD914F;
}
.blog-filter .input-group{
  border: 1px solid #DCDCDC;
}
.blog-filter-title{
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  padding-bottom: .5rem;
  border-bottom: 1px solid #DCDCDC
}
.blog-filter li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555555;
  font-size: 18px;
  margin-bottom: .5rem;
}
.latest_blog img{
  height: 120px;
  object-fit: cover;
}
.gallery .item{
  height: 120px;
  position: relative;
}
.gallery img{
  height: 100%;
  object-fit: cover;
}

.adv-space {
  background: #FAFAFA;
  padding: 2rem;
  border: 8px solid #EBECF0;
  text-align: center;
  margin: 0.65rem 0;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  width: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.adv-space i {
  font-size: 3rem;
  color: #AD914F;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.adv-space h5 {
  color: #989898;
  font-weight: bold;
  margin-top: 1rem;
}
.all-comment{ 
  margin-bottom: 6rem;
}
.all-comment .card{
  background: #fff;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.all-comment .card .card-header{
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-comment img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.all-comment .time-comment * {
  color: #AD914F;
  font-size: small;
}
.all-comment textarea ,
.all-comment textarea:focus
{
  border: 1px solid #CCCCCC  !important; 
}

/* ------ service page ------ */
.contact .input-group .btn{
  border-radius: 0;
  border-bottom: 1px solid #A3A5A8 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.contact .input-group .btn:focus{
  box-shadow: unset !important;
}
.serv .division-todown {
  display: block !important;
  background: #000 !important;
}
.serv-details{
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
  padding-bottom: 3rem;
}


.serv .silder-attach {
  top: 90%;
  inset-inline-start: 0;
  inset-block-end: unset;
  color: #fff;
  transform: translate(50%,50%) rotate(270deg);
  -webkit-transform: translate(50%,50%) rotate(270deg);
  -moz-transform: translate(50%,50%) rotate(270deg);
  -ms-transform: translate(50%,50%) rotate(270deg);
  -o-transform: translate(50%,50%) rotate(270deg);
}
.serv-img{
  position: relative;
  padding-inline-start: 2rem;
  height: 370px;
  filter: brightness(.65);
  -webkit-filter: brightness(.65);
}
.serv-img .owl-carousel, 
.serv-img .owl-stage, 
.serv-img .owl-stage-outer,
.serv-img .owl-item{
  height: 100%;
}
.serv-img .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* contact page */
.contact{
  margin-bottom: 4rem;
}
.contact .title::after {
  content: url('../images/title-main.svg');
  background: unset;
  width: 100%;
  height: 100%;
  top: 50%;
  inset-inline-end: 50%;
  object-fit: cover;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.contact iframe{
  width: 100%;
  min-height: 400px;
}
.contact .form-control,
.contact .form-select{
  background-color: var(--body);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.contact input.form-control,
.contact select.form-select{
  border: 0;
  border-bottom: 1px solid #A3A5A8 !important;
  box-shadow: none;
}
.contact .form-control:focus,
.contact .form-select:focus{
  border-width: 2px !important;
  border-color: var(--main-color) !important;
}
.contact textarea,.contact textarea:focus{
  border: 1px solid #A3A5A8 !important;
}
.contact-info li{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.4rem;
}
.contact-info i {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: var(--main-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.project-form{
  background: #000;
  padding: 3rem 0;
  color: #fff;
}
.project-form .custom-btn {
  background: var(--main-color) !important;
}
.contact.project-form .form-control,
.contact.project-form .form-select{
  background-color: #000;
  color: #fff;
}
.contact.project-form .form-control::placeholder{
  color: #fff;
}



.video-wrap{
  position: relative;
  height: 330px;
  border-radius: 0px;
  overflow: hidden;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.video-wrap img{
  transition: .4s;
}
.video-wrap:hover img{
  transform: scale(1.2);
}
.video-wrap .video-cover-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  z-index: 5;
  cursor: pointer;
  border: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  filter: brightness(.65);
}

/* ------------- media --------------- */
@media (max-width: 991.8px) {
  .navbar-collapse {
    background: url('../images/c_map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
    height: 75vh;
    margin-top: 2rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .navbar .navbar-collapse .nav-link{
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
  }
  .navbar-collapse .navbar-nav {
    width: max-content !important;
    margin: auto;
  }
  .navbar-collapse .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  .division-ontop,.division-todown{
    height: 102px;
  }
  header .carousel-caption {
    width: 80%;
    text-align: start;
    margin: unset;
    margin-inline-start: calc( var(--gutter)/2);
  }
  header .carousel-caption .h-title{
    width: auto;
  }
  header .carousel-caption .h-title::before {
    width: 55px;
    height: 60px;
    inset-inline-start: 22.5px;
  }
  .adv-space {
    width: 100%;
  }
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 70%;
  }
  .modal-content {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
  .modal-body {
    padding: 2.5rem 4rem;
  }
  .w-md-50{
    width: 50%;
  }
}
@media (max-width: 576px) {
  :root {
    --gutter: 1.5rem !important;
  }
  .silder-attach {
    inset-inline-end: 1rem;
  }
  .artBadge img {
    height: 290px;
  }
  .float-img img {
    height: 225px;
  }
  .allWorks .item img,.services .item img {
    height: 270px;
  }
  .getNews {
    margin-top: 0;
  }
  .getNews iframe {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0;
  }
  .bg-color {
    background-size: cover;
    margin-top: 0rem;
    padding-bottom: 3rem;
  }
  footer ul{
    display: block !important;
    columns: 3;
    text-align: start;
  }
  .copyRight {
    padding: 3rem 0;
    padding-bottom: 0.5rem;   
    flex-wrap: wrap;
    gap: 6px;
}
  .toTop {
    inset-inline-start: 10px;
    width: 40px;
    height: 40px;
  }
  .blogs .card .card-img-top {
    height: 260px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    justify-content: space-around;
    flex-direction: row;
    width: 75% !important;
  }
}
@media (max-width: 992px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-direction: row-reverse;
  }
}
